*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff3b0;
}

/*----------------------------------------------*/
.container{
  display: flex;
  flex-wrap: wrap;
  background-color: #8d0801;
  top: 60px;
  padding: 1rem;
  width: 100%;
  height: 4rem;
  z-index: 999;
}

.dropdown {
  position: relative;
  display: inline-block;
  flex-direction: row;
  margin-right: 0.5rem;
}

.dropbtn {
  display: block;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #f4d58d;
  font-size: 1.1rem;
  margin-left: 1.1rem;
  border-radius: 5px;
}

.dropbtn:hover {
  background-color: #8E1414;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 180px;
  background-color: #8d0801;
  color: #f4d58d;
  font-size: 1.1rem;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  z-index: 1000;
}


.dropdown-content a {
  display: block;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
  color: #f4d58d;
  font-size: 14px;
  flex-wrap: wrap;
  padding: 1rem;
  margin: 1rem 0 1rem 0;
}

.dropdown-content a:hover {
  background-color: #f0d9d9;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Mobile */
@media (min-width: 769px) {
  .dropdown:hover .dropdown-content {
    display: block;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    gap: 1rem;

  }

  .dropdown a {
    font-size: 1.5rem;
  }

  .dropdown-content {
    position: static;
    width: 100%;
    box-shadow: none;
    background-color: #f4d58d;
    border-radius: 0.5rem;
    width: 22rem;

  }

   .dropdown-content a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8d0801;
    font-size: 1.5rem;
  }
}

/*---------------------------------------*/

.receita-individual {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 2rem;
  background: #f4d58d;
  border-radius: 10px;
  overflow: visible;     
  white-space: normal; 
}

.receita-individual h2 {
  font-size: 2rem;
}

.receita {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 12rem 0 2rem 0 ;
  border-bottom: 1px solid #ccc;
  padding-bottom: 30px;
  gap: 2rem;
}

.receita li {
  font-size: 1rem;
}

.receita img {
  margin: 2rem 0 0.5rem 0;
  width: 25rem;
  height: 28rem;
  border-radius: 8px;
}

button {
  background: #e02504;
  color: white;
  border: none;
  padding: 10px 15px;
  margin-top: 15px;
  cursor: pointer;
  border-radius: 5px;
  width: 10rem;
  height: 3rem;
  font-size: 1rem;
  font-weight: 700;
}

button:hover {
  background: #e76f3c;
}

@media (max-width: 768px) {
  .receita {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 3rem 0;
  }

  .receita img {
    width: 100%;
    height: auto;
  }
}

